*{
    margin:0px;
}
#main{
    width:100%;
    min-height:100vh;
    background:url('b1.jpg');
}
#topHeader{
    width:100%;
    min-height: 80px;
    
}
#topHeader .d1{
    width: 20%;
    float:left;
    min-height:80px;
    
}
#topHeader .d1 h2{
color:white;
text-align: center;
line-height: 80px;
}
#topHeader .d2{
    width: 50%;
    float:left;
    min-height:80px;
    margin-left: 5%;
}
#topHeader .d2 ul{
    list-style: none;
}
#topHeader .d2 ul li{
    float:left;
    padding:0px 20px;
    line-height:80px;
}
#topHeader .d2 ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
#topHeader .d2 .active a{
    background: rgb(1, 63, 165);
    padding:10px;
    border-radius: 5px;
}
#topHeader .d3{
    width: 20%;
    float: right;
    min-height:80px;
}
#topHeader .d3 button{
    margin-top:30px;
}
#topHeader .d3  #reg_btn{
    background: white;
    border:none;
    padding:10px;
    widt: 110px;
}
#topHeader .d3  #contact_btn{
    background: rgb(1, 63, 165);
    border:none;
    padding:10px;
    widt: 110px;
    color:white;
}
#bigtitle{
    width:30%;
    min-height:300px;
    margin-top:200px;
    margin-left:200px;
    color:white;
}
#bigtitle h1{
    font-size: 40px;
}
#bigtitle h2{
    font-size: 30px;
    color:yellow;
}
#bigtitle #btn_readmore{
    width: 110px;
    height: 50px;
    background: orange;
    color:white;
    border:none;
    margin-top:20px;
}
#section1{
    padding-top: 100px;
    width:100%;
    min-height: 300px;
    background: white;
    text-align:center;
}
.inner{
    width:80%;
    margin:auto;
}
#section1 .d1{
    width:24%;
    float:left;
    min-height:400px;
}
#section1 .d2{
    width:24%;
    float:left;
    min-height:400px;
    margin-left:1.4%;
}
#section1 .d3{
    width:24%;
    float:left;
    min-height:400px;
    margin-left:1.1%;
}
#section1 .d4{
    width:24%;
    float:right;
    min-height:400px;
}
#icon{
    height:100px;
    width:100px;
    border: 2px solid #2980b9;
    margin:auto;
    line-height: 100px;
    border-radius: 50px 0px 50px 0px;
    box-shadow: 1px 1px 5px grey;
    color:darkorange;
    margin-bottom:20px;
}
#section1 h3{
    color:#2980b9;
    font-size:23px;
}
#section1 p{
    padding-top: 20px;
}
#service{
    width:100%;
    min-height:100vh;
    background: #4834d4;
    color:white;
}
#service .row1{
    width:100%;
    min-height:400px;
}
#service .row2{
    width:100%;
    min-height:400px;
}
#service .row3{
    width:100%;
    min-height:400px;
}
#service .row1 .col1{
    width:70%;
    float:left;
    min-height:400px;
}
#service .row1 .col2{
    width:30%;
    float:left;
    min-height:400px;
}
#service .row2 .col1{
    width:30%;
    float:left;
    min-height:400px;
}
#service .row2 .col2{
    width:70%;
    float:left;
    min-height:400px;
}
#service .row3 .col1{
    width:70%;
    float:left;
    min-height:400px;
}
#service .row3 .col2{
    width:30%;
    float:left;
    min-height:400px;
}
.number{
    width:60px;
    height:60px;
    background: white;
    color:black;
    text-align:center;
    line-height:60px;
    border-radius:100%;
    font-weight:bold;
}
#service h2{
    font-weight: bolder;
    color: yellow;
    margin-top:20px;
}
#service p{
    line-height:30px;
}
#team{
    width:100%;
    min-height: 550px;
    padding-top: 50px;
    background:white;
    text-align:center;
}
#team img{
    border-radius:100%;
    margin-top:-50px;
}
#team h1{
    margin-bottom:100px;
}
#team h2{
    color:darkorange;
}
#team p{
    line-height: 30px;
}
#team #social{
    list-style:none;
}
#team #social li{
    float:left;
    width:50px;
    height:50px;
    line-height:50px;
    background:#013fa5;
    margin-left:10px;
    border-radius:100%;
}
#team #social li a{
    text-decoration: none;
    color:white;
}
#team .c1{
    width: 24%;
    float:left;
    min-height:400px;
    border:2px solid black;
}
#team .c2{
    width: 24%;
    float:left;
    margin-left: 1.2%;
    min-height:400px;
    border:2px solid black;
}
#team .c3{
    width: 24%;
    float:left;
    margin-left: 1.2%;
    min-height:400px;
    border:2px solid black;
}
#team .c4{
    width: 24%;
    float:right;
    min-height:400px;
    border:2px solid black;
}
#testinomial{
    width:100%;
    min-height:600px;
    background: #feca57;
    padding-top:50px;
    text-align:center;
}
#testinomial .c1{
    width:32%;
    float:left;
    min-height:350px;
    background:white;
    border:2px dotted black;
}
#testinomial .c2{
    width:32%;
    float:left;
    min-height:350px;
    background:white;
    margin-left:2%;
    border:2px dotted black;
}
#testinomial .c3{
    width:32%;
    float:right;
    min-height:350px;
    background:white;
    border:2px dotted black;
}
#testinomial h1{
    margin-bottom:40px;
}

#testinomial img{
    border-radius:100%;
    padding:5px;
    border:1px solid orange;
    margin-top:20px;
}
#testinomial p{
    padding: 20px 40px;
}
#testinomial h3{
    color: #30336b;
    font-size:30px;
}
#facts{
    width:100%;
    min-height:450px;
    background:white;
    padding:50px;
}
#facts .left{
    width:50%;
    float:left;
    min-height:350px;
}
#facts .right{
    width:48%;
    float:right;
    min-height:350px;
}
#facts .left .c1{
    width:49%;
    min-height:174px;
    float: left;
    background:#30336b;
    color:white;
    margin-left:1%;
    margin-top:1%;
    text-align:center;
}
#facts .left .c1 h2{
    margin-top:20%;
}
#facts .left .c1 p{
    color:orange;
}
#facts h1{
    margin-bottom:50px;
}
#blue{
    width:20%;
    min-height:5px;
    background:#4834d4;
    
}
#red{
    width:70%;
    min-height:5px;
    background:red;
    
}
#green{
    width:20%;
    min-height:5px;
    background:green;
    
}
#orange{
    width:90%;
    min-height:5px;
    background:orange;
    
}
#grey{
    width:100%;
    min-height:5px;
    background:lightgrey;
}
#facts .right p{
    margin: 10px 0px;
}
#newsletter{
    width:100%;
    min-height:250px;
    background:black;
    color:white;
    text-align:center;
    padding-top:100px;
}
#newsletter #input{
    width:40%;
    height:50px;
    padding-left:20px;
    margin-top:50px;
    border-radius:5px;
}
#newsletter #btn{
    width:140px;
    min-height:50px;
    background:orange;
    margin-top:20px;
    border:none;
    border-radius:5px;
}
#footer{
    width:100%;
    min-height:200px;
    background:black;
    color:white;
}
#footer .left{
    width:40%;
    min-height:200px;
    float:left;
    
}
#footer .right{
    width:40%;
    min-height:200px;
    float:right;
    
}
#footer .right #footermenu{
    list-style:none;
}
#footer .right #footermenu li{
    float:left;
    padding: 0px 20px;
}
#footer .right #footermenu li a{
    text-decoration:none;
    color:white;
    font-size: 15px;
}
#footer .right #social{
    list-style:none;
    float:left;
    margin-top:20px;
    margin-left:100px;
}
#footer .right #social li{
    float:left;
    padding: 10px 20px;
    background: white;
    margin-left:2px
}
#footer .right #social li a{
    text-decoration:none;
    color:orange;
    font-size: 15px;
}
#footer .right #social li:hover{
    background: orange;
    color:white
}